# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [4]:
number = 6

print(number)

6

##### Assinging float

In [5]:
numberFloat = 2.3

print(numberFloat)

number_Float = 2.5

print(number_Float)

2.3
2.5

#### Performing Calculations on ints and floats

##### Addition

In [7]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# Short-hand version 
result += 2 # result = result + 2
print(result)

7.4
9.4

##### Subtraction

In [10]:
result_diff = num2 - num1
print(result_diff)

# short-hand version
result_diff -= 2
print(result_diff)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [11]:
result_mul = num1 * num2
print(result_mul)

#short-hand version
result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [12]:
result_div = num2/num1
print(result_div)

#short-hand version
result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [13]:
result_floor = num2 // num1
print(result_floor)

#short-hand version and will always return a float data type 
result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [14]:
result_mod = 10 % 3
print(result_mod)

#short-hand version
result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [14]:
square = 5 ** 2
print(square)

#short-hand version
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [16]:
name = "Sheel"
print(name)

Sheel

##### print() <br>
<p>Don't forget about end=' '</p>

In [17]:
print("This is my first name: ", name)

print("Full Name: ", name, end=" Shah")

This is my first name:  Sheel
Full Name:  Sheel Shah

##### String Concatenation

In [18]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

# Short-hand version
full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [19]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [20]:
# Input will always return a string -- All the time

# name = input('What is your name? ')

# print(name)

age = int(input("What is your age? "))

add_age = age + 1
print(add_age)

What is your age?: 29
30

##### format()

In [26]:
age = 29
name = "Sheel"

result_string = "You are {}, you are {} years old and you are getting wise!".format (name,age)
print(result_string)

result_again = f"{age} is a great time in life!"
print (result_again)

You are Sheel, you are 29 years old and you are getting wise!
29 is a great time in life!

##### Old Way (python 2)

In [38]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 30 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [28]:
#OUTPUT:  The car's color is blue, the year is 2019, make is honda, and model is CR-V

name = input ("What is your name? ")
color = input ("What color is your car? ")
year = input ("What year is your car? ")
model = input ("What model is your car? ")
make = input ("what is the make of your car? ")

results = f"{name}, you have a {year} {color} {make} {model}. Please enjoy your car."

print(results)

What is your name? Sheel
What color is your car? Black
What year is your car? 2023
What model is your car? X5
what is the make of your car? BMW
Sheel, you have a 2023 Black BMW X5. Please enjoy your car.

### If Statements

In [31]:
# Available operators: Greater(>), Less(<),Equal(==), Not Equal (!=)
# Greater or Equal(>=), Less or Equal (<=)



# if (thing that is true or false) is true:
    #do this stuff
# this part will happen anyways

num1 = 5
num2 = 10

if num2 == num1:
    print('Equal Values')
else:
    print("Not Equal")
    
if num2 > num1:
    print("Num2 is greater")
elif num2 < num1:
    print("Num2 is less than")
else:
    print("They're the same")

Not Equal
Num2 is greater

##### 'is' keyword

In [34]:
# use the "is" keyword when checking for same/similar object, NOT same value
num3 = 55
num4 = num3

if num3 is num4:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [38]:
# Check if char in name
char_name = "Max Payne"

if "M" in char_name:
    print("The Character who lost everything...")
else:
    print("The Charatcher didn't lose everything")

The Character who lost everything...

##### 'not in' keyword'

In [39]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [44]:
# OUTPUT: True -- if p is found
# False -- if p is NOT found

name = input("What is your name? ")
result_name = "Your name is {}, which is a beautiful name".format(name)

print (result_name)

if "p" in name:
    print("The letter p is in the name")
else:
    print("The letter p is not in the name")

What is your name? paul
Your name is paul, which is a beautiful name
The letter p is in the name

## Using 'and'/'or' with If Statements

In [54]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with "and" statment
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with "or" statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [55]:
first_name = "Max"

if first_name == 'Smith':
    print("The name is Smith")
elif first_name != 'Max':
    print("The name is NOT Max")
else:
    print("The name is Max")

The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [65]:
# for item in iterable_thing:
    # do some stuff

# for i in range(10):
#     print(i)
    
name = "Sheel Shah"

for letter in range(len(name)):
    print(name[0])

S
S
S
S
S
S
S
S
S
S

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [58]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [59]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass 

# TODO: I will come back and finish this part of my code later!

##### Double For Loops

In [64]:
for i in range(5):
    for j in range(5):
        print("i = ",i, "j = ",j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [68]:
# while keyword, condition statement (something that is true or false)
    # do some stuff repeatedly
# based on the conditional Statement

num = 0
# while num < 10:
#     print(num)
#     num += 1

while True:
    if num >= 10:
        break
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [69]:
game_over = False

# while True:
#     print("Infinite Loop")
#     if game_over == False:
#         break

        
game_over = True

while game_over:
    print("Infinite Loop")
    game_over = False

Infinite Loop

##### While & For Loops Used Together

In [65]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: ", str(i))
        
    num += 1

 While Loop Iteration: 0
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 1
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 2
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 3
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 4
For Loop Iteration:  0
For Loop Iteration:  1

### Built-In Functions

##### range()

In [71]:
#Start, Stop, Step
#Default: start = 0, stop is REQUIRED, step = 1
for i in range(2, 20, 9):
    print(i)

2
11

##### len()

In [73]:
# check Length of variable
name = "Max "

length = len(name)
print(length)

4

##### help()

In [69]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [71]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)

print(isinstance(4.5,int))

if isinstance(4.5,float):
    print("This number is a float type")

False
This number is a float type

##### abs()

In [72]:
# | 5 |

print(abs(-5))

5

### Try and Except

In [76]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages

try:
    number_test = 0
    input_num = int(input('Guess a Number'))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your Number is: " + str(input_num))
except:
    print('That did not work ---- ERROR: Change your input to a number')

Guess a Numberrsfgrsg
That did not work ---- ERROR: Change your input to a number

### Lists

##### Declaring Lists

In [82]:
my_list = [] # Empty List Declaration

names = ['Max','Cindy','Kathy', "bob","Nate"]

print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate']

##### Indexing a List

In [79]:
# [start: stop: step] -- [-1]

#Single Index
print(names[0])

# Print starting at index 1 going to the end
print(names[1:])

#Print starting at beginning of list to N (n == the number we want to stop at)
print(names[:2])

# print starting at index 1 going up BY 2 in each iteration
print(names[1::2])

# print starting at the back and present in reverse order
print(names[::-1])

# Print the last value NO MATTER THE SIZE of the list!
print(names[-1])

Max
['Cindy', 'Kathy', 'bob', 'Nate']
['Max', 'Cindy']
['Cindy', 'bob']
['Nate', 'bob', 'Kathy', 'Cindy', 'Max']
Nate

##### .append()

In [83]:
# does not change original data, just adds to the end 
names.append('Joel')
print(names)

['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Joel']

##### .insert()

In [84]:
# list.insert(index,value)

names.insert(3,"Gabby")
print(names)

['Max', 'Cindy', 'Kathy', 'Gabby', 'bob', 'Nate', 'Joel']

##### .pop()

In [85]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

# my_name = names.pop()
# print(my_name)

my_name = names.pop(3)
print(my_name)
print(names)

Gabby
['Max', 'Cindy', 'Kathy', 'bob', 'Nate', 'Joel']


##### .remove()

In [86]:
# value to be removed , not index
# names.remove("Bob")
# print(names)

# remove multiple bobs out of list
while 'bob' in names:
    names.remove('bob')
print(names)

['Max', 'Cindy', 'Kathy', 'Nate', 'Joel']

##### del()

In [87]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully
del(names[1])
print(names)

['Max', 'Kathy', 'Nate', 'Joel']

##### Concatenating Two Lists

In [88]:
# will append two lists together, not add up the elements in each list

first_list = [0,1,2]
second_list = [3,4,5]

large_list = first_list + second_list
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [89]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [90]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# With a for loop using the index 
for i in range(len(names)):
    print(names[i])
    
# Loop with a for loop (Using the 'in' keyword)
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
list_num = []

number = 1


while True:
    number_cubed = number ** 3
    if number_cubed <= 1000:
        list_num.append(number_cubed)
        number += 1
    else:
        break

print (list_num)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [13]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

def prime():
    prime = []

    for number in range (2,101):
        for index in range (2,number):
            if number % index == 0:
                break
        else:
            prime.append(number)
    return prime
prime()

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [133]:
age = input("What is your age? ")
int_age = int(age)
    
if int_age < 18:
    print("Kids")
elif int_age =<65:
    print("Adults")
else:
    print("Seniors")

What is your age? 18
Adults